
<div style="height: 100vh">
  <h1 style="text-align: center; font-size: 60px; padding: 35px">
    Subscriptions
  </h1>
  <div class="subscriptions">
    <mat-card class="example-card">
      <mat-card-title>CLIENT</mat-card-title>
      <mat-card-title>FREE</mat-card-title>
      <mat-card-content>
        <ul>
          <li>10 adoption publications<br> per month</li>
          <li>View applicant <br>profiles (unlimited)</li>
          <li>Contact applicants (unlimited)</li>
          <li style="text-decoration: line-through;">Unlimited publications</li>
          <li style="text-decoration: line-through;">Unlimited publication<br> duration</li>
          <li style="text-decoration: line-through;">Search for all types<br> of pets</li>
        </ul>
      </mat-card-content>
      <button mat-button>SEE MORE</button>
    </mat-card>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>PREMIUM CLIENT</mat-card-title>
        <mat-card-title>10 S./mes</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ul>
          <li>Unlimited publications
          </li>
          <li>Unlimited publication duration</li>
          <li>Search for all types of animals</li>
          <li>Unlimited adoption</li>
          <li style="text-decoration: line-through;">Publish advertisements</li>
        </ul>
      </mat-card-content>
      <button mat-button>SEE MORE</button>
    </mat-card>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>VET</mat-card-title>
        <mat-card-title>199 S./mes</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ul>
          <li>5 ads x 199 soles
          </li>
          <li>1 publication x 50 soles
          </li>
          <li>Messages with clients
          </li>
          <li>Post any social network
          </li>
          <li>Modify publications</li>
        </ul>
      </mat-card-content>
      <button mat-button>SEE MORE</button>
    </mat-card>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>SUPPLIERS</mat-card-title>
        <mat-card-title>79 S./mes</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ul>
          <li>5 ads x 79 soles
          </li>
          <li>Unlimited publications
          </li>
          <li>Messages with clients
          </li>
          <li>Post any social network
          </li>
          <li>Modify publications</li>
        </ul>
      </mat-card-content>
      <button mat-button>SEE MORE</button>
    </mat-card>
  </div>
</div>









