<div class="slider">

  <ngb-carousel >

    <ng-template *ngFor="let add of Adds;let i = index; let last = last" [ngClass]="{'last-child': last}"  ngbSlide>

      <mat-card  class="card"  >
        <p>Advertising space</p>
        <mat-card-header >

          <mat-card-title *ngIf="add">{{ Adds[i].title }}</mat-card-title>

        </mat-card-header>

        <img alt="image of advertisement" style="max-width: 40vh"  mat-card-image src="{{Adds[i].urlToImage}}" />
        <mat-card-content>Description: {{Adds[i].description}} </mat-card-content>
        <mat-card-content>DateTime: {{Adds[i].dateTime}} </mat-card-content>
        <mat-card-content>Discount: {{Adds[i].discount}} </mat-card-content>
        <mat-card-content>Any Promotion: {{Adds[i].promotion}} </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button type="button" class="btn btn-danger" (click)="editAdvertisement('edit',Adds[i])" >Edit</button>
          <button mat-raised-button type="button" class="btn btn-danger" (click)="deleteAdvertisement(Adds[i].id)" >Delete</button>
        </mat-card-actions>
      </mat-card>

    </ng-template >

  </ngb-carousel>

</div>
